body {
  background-color: #AFABA2;
  color: #F7F3EA;
  font-family: Montserrat, Verdana, Helvetica;
  margin: 10% 20%;
}

.exp-header {
  text-transform: uppercase;
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  text-align: center;
}
